$groupon_green: #53A318;

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

@import "bootstrap-material-design/sass/_variables.scss";
$brand-primary: $groupon_green;
@import 'bootstrap-material-design/sass/bootstrap-material-design.scss';

@import 'bootstrap-material-design/sass/ripples.scss';

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle !important;
}

.table tbody>tr>td>th
{
  vertical-align: middle !important;
}

th.header:hover {
  background-color: #e0e0e0 !important;
}

textarea {
  resize: none;
}

.hidden {
  display: none;
}

.dl-horizontal dt {
  width: 100px;
}

.dl-horizontal dd {
  margin-left: 120px;
}

.service-sidebar {
  height: 1000px !important;
  overflow-y: scroll !important;
}

.sev3.highlight-row {
  font-weight: bold;
  background-color: #f26969;
}

.sev3 {
  background-color: #f2dede;
}

.sev3:hover {
  background-color: #f26969;
}

.sev2.highlight-row {
  font-weight: bold;
  background-color: #fcf196;
}

.sev2 {
  background-color: #fcf8e3;
}

.sev2:hover {
  background-color: #fcf196;
}

.sev1.highlight-row {
  font-weight: bold;
  background-color: #a1ed89;
}

.sev1 {
  background-color: #dff0d8;
}

.sev1:hover {
  background-color: #a1ed89;
}

.sev0.highlight-row {
  font-weight: bold;
  background-color: #e0e0e0;
}

.sev0 {
  background-color: #fff;
}

.sev0:hover {
  background-color: #e0e0e0;
}

.affix {
  right: 0px;
}

ul.nav-dropdown {
  color: #000 !important;
}
//
// .navbar-nav a:hover,
// .navbar-header a:hover {
//   font-weight: bold !important;
// }
//
// .navbar-default {
//   background-color: #f6f6f6 !important;
// }

// a.navbar-brand {
//   color: #000 !important;
// }

a,
a:hover {
  color: $groupon_green;
}

tr.service-list:hover {
  background-color: rgba(83, 163, 24, 0.2) !important;
}

tr.service-list.highlight-service-row {
  background-color: $groupon_green !important;
  color: #fff !important;
}

tr.burn-list:hover {
  background-color: rgba(83, 163, 24, 0.2) !important;
  /*background-color: $groupon_green !important;*/
  /*color: #fff !important;*/
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none !important;
}

dd.wrap {
  word-wrap: break-word;
}

body {
  background-color: #FFF !important;
}

.well {
  background-color: #f6f6f6 !important;
}

.panel-body.panel-detail {
  background-color: #f6f6f6 !important;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 4px;
}

.pagination > li > a,
.pagination > li > span {
  color: $groupon_green;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  /*color: #fff;*/
  background-color: rgba(83, 163, 24, 0.2);
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $groupon_green;
  border-color: $groupon_green;
}

.invalid {
  color: #f44336 !important;
}

.btn-sm {
  padding: 10px !important;
}

.btn-no-padding {
  padding: 2px !important;
}

.slider-label {
  position: absolute;
  top: -10px;
  font-size: 12px;
  // opacity: 1;
  // color: #7E7E7E;
}

label.toggle-label {
  font-size: 100% !important;
  font-style: normal !important;
  color: #000 !important;
}

.form-group.no-margin {
  margin: 0 0 0 0 !important;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before,
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    color: $groupon_green !important;
    border-color: $groupon_green !important;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
  background-image: none !important;
  background-color: #fff !important;
}

li.dropdown-item:hover {
  color: $white;
  background-color: $groupon_green;
}

ul.dropdown-menu {
  padding: 10px;
}

tr.settings-list:hover {
  background-color: rgba(83, 163, 24, 0.2) !important;
}

tr.settings-list.highlight-settings-row {
  background-color: $groupon_green !important;
  color: #fff !important;
}

.item {
  // background: $groupon_green !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.selectize-control.repositories .selectize-dropdown [data-selectable] {
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.selectize-control.repositories .selectize-dropdown .by {
	font-size: 11px;
	opacity: 0.8;
}
.selectize-control.repositories .selectize-dropdown .by::before {
	content: 'by ';
}
.selectize-control.repositories .selectize-dropdown .name {
	font-weight: bold;
	margin-right: 5px;
}
.selectize-control.repositories .selectize-dropdown .title {
	display: block;
}
.selectize-control.repositories .selectize-dropdown .description {
	font-size: 12px;
	display: block;
	opacity: 0.5;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.selectize-control.repositories .selectize-dropdown .meta {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 10px;
}
.selectize-control.repositories .selectize-dropdown .meta li {
	margin: 0;
	padding: 0;
	display: inline;
	margin-right: 10px;
}
.selectize-control.repositories .selectize-dropdown .meta li span {
	font-weight: bold;
}
.selectize-control.repositories::before {
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	content: ' ';
	z-index: 2;
	position: absolute;
	display: block;
	top: 50%;
	right: 34px;
	width: 16px;
	height: 16px;
	margin: -8px 0 0 0;
	background: url(../images/loader.gif);
	background-size: 16px 16px;
	opacity: 0;
}
.selectize-control.repositories.loading::before {
	opacity: 0.4;
}

.navbar {
  background-color: $groupon_green !important;
}

li.nav-item {
  color: $white;
  opacity: 0.5;
}

li.nav-item:hover, li.nav-item.active {
  background-color: $groupon_green !important;
  opacity: 1.0;
}

.navbar .navbar-nav > .active > a {
  background-color: $groupon_green !important;
}

.navbar .dropdown-menu li > a, .navbar.navbar-default .dropdown-menu li > a {
  font-size: 10px !important;
  padding: 0px !important;
}

ul.dropdown-menu {
  border-radius: 0 !important;
}

.navbar-nav > li a, .navbar-brand {
    padding-top: 12px !important;
    padding-bottom: 0px !important;
    height: 48px;
}
.navbar {
  height: 48px !important;
  min-height:28px !important;
}

.burn-list-item,
.repo-list-item {
  border: 1px solid #EFF0EC;
  line-height: 150%;
}

a.dropdown-toggle span.caret {
  color: $white !important;
}

.selectize-control.multi .item {
  background: $groupon_green !important;
}

.avatar {
  border-radius: 4px;
}

.selectized.select-border {
  border-bottom: 1px solid $black;
}

.burn-log {
  font-size: 0.8em;
  color: #f1f1f1;
  background-color: #444;
  overflow: scroll;
  height: 40em;
  margin: 1em;
}

.btn-highlight {
  background-color: rgba(153, 153, 153, 0.2) !important;
}

.btn-link.btn-hightlight {
  background-color: rgba(153, 153, 153, 0.2) !important;
}

.btn-link:focus,.btn-link:active,.btn-link:hover :not(.btn-hightlight) {
  background-color: transparent;
  outline: transparent;
}
