<!--
The MIT License (MIT)

Copyright (c) 2016, Groupon, Inc.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<div class="container-fluid">
  <div class="modal fade" id="submitDialog" tabindex="-1" role="dialog" aria-labelledby="submitBurnDialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <center><h4 class="modal-title" id="submitBurnDialog">Submit A Burn</h4></center><p>
        </div>
        <form>
        <div class="modal-body" id="burn-submit-body">
        </div>
        <div class="modal-footer">
          <button class="btn btn-default btn-flat" data-dismiss="modal"><i class="octicon octicon-x"></i> Close</button>
          <button class="btn btn-primary btn-flat" disabled data-dismiss="modal" id="submit-burn"><i class="octicon octicon-check"></i> Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">Show burns of: </div>
    <div class="col-sm-3">
      <select id="repo-list" data-previous="-2">
        <optgroup label="System">
          <option value="-1">All Repositories</option>
          <option value="-2" selected>My Repositories</option>
        </optgroup>
        <optgroup label="Repositories">
          <% repos.forEach(function(repo) { %>
            <option value="<%= repo.get('id') %>"><%= repo.get('name') %></option>
          <% }); %>
        </optgroup>
      </select>
    </div>
    <div class="col-sm-5">
      <button class="btn btn-sm pull-right" data-toggle="tooltip" data-placement="left" title="" data-original-title="Submit a new burn" id="submit-burn-btn"><i class="octicon octicon-plus"></i></button>
    </div>
  </div>

  <div class="row">
    <div id="burn_list" hidden>
    </div>
  </div>
  <div class="row" style="height:32px;"></div>
  <div class="row paginater"> </div>
</div>
