<div class="form-group label-floating">
  <label for="project-name" class="control-label">JIRA Project</label>
  <input type="text" class="form-control validated" required id="project-name">
  <span class="help-block">Enter the JIRA project name (not the full URL): http://jira.host/browse/<strong>PROJECT-</strong>ticket_number</span>
</div>
<br>
