<!--
The MIT License (MIT)

Copyright (c) 2016, Groupon, Inc.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<div class="container-fluid">
  <div id="finding_publish">
  </div>

  <div id="finding_publish_results">
  </div>

  <div class="row finding-header-1">
    <div class="col-lg-3">
      <select id="select-repo" placeholder="Pick a repository..." style="display: none;"></select>
    </div>
    <div class="col-lg-3" id="branch-div">
      <select id="select-branch" placeholder="Pick a branch..." style="display: none;"></select>
    </div>
    <div class="col-lg-6">
      <div class="togglebutton">
        <label class="toggle-label">
          Published &nbsp;&nbsp;<input type="checkbox" id="show-publish" <% if(publish){ %>checked <% } %>>
        </label>

        <label class="toggle-label">
          Hidden &nbsp;&nbsp;<input type="checkbox" id="show-hidden" <% if(hidden){ %>checked <% } %>>
        </label>

        <label class="toggle-label">
          Filtered &nbsp;&nbsp;<input type="checkbox" id="show-filtered" <% if(filtered){ %>checked <% } %>>
        </label>
      </div>
    </div>
  </div>

  <div class="row finding-header-2" style="height:1em;"></div>

  <br>

  <div class="container-fluid row">
    <div class="col-lg-6">
      <div id="finding-list">
      </div>
      <div class="row paginater"> </div>
    </div>

    <div class="col-lg-6" id="detail" data-spy="affix">
    </div>
  </div>
</div>

<div class="modal fade" id="publishDialog" tabindex="-1" role="dialog" aria-labelledby="publishFindingDialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="publishFindingDialog"><center>Publish Finding</center></h4><p>
      </div>
      <p>
      <form id="publish-form" class="form-horizontal">
      <div id="publish-dialog-spinner" aria-hidden="true">
        <img class="center" alt="spinner" src="/images/loader.gif">
      </div>
      <div id="publish-dialog-body" class="modal-body">
        <div class="form-group">
          <div class="radio radio-inline">
            <label>
              <input type="radio" name="ticket-option" value="github" checked>
                <img src="/images/github_logo.png" alt="GitHub">
            </label>
          </div>
          <div class="radio radio-inline">
            <label>
              <input type="radio" name="ticket-option" value="jira">
                <img src="/images/jira_logo.png" alt="JIRA">
            </label>
          </div>
        </div>
      </div>
      <div class="modal-body" id="publish-dialog-body-jira">
      </div>
      <div class="modal-body" id="publish-dialog-results" aria-hidden="true">
      </div>
      <p>
      <div class="modal-footer">
        <button type="reset" class="btn btn-default btn-flat" data-dismiss="modal"><i class="octicon octicon-x"></i> Close</button>
        <button type="reset" class="btn btn-primary btn-flat" disabled id="publish-submit"><i class="octicon octicon-check"></i> Publish</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="filterModalLabel"><center>Add A Filter</center><br>
          <small>Select the combination of fields you'd like to exclude from future results.  With default settings, this will filter a specific code snippet/vulnerability from an entire file (to avoid false positives when you refactor).</small>
        </h4>
      </div>
      <div class="modal-body" id="filter-dialog-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal"><i class="mdi-navigation-close"></i> Close</button>
        <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" id="create-filter-btn"><i class="mdi-navigation-check"></i> Create Filter</button>
      </div>
    </div>
  </div>
</div>
